
body 
{
    background-color:#fafafa ;
}

.principal {
    box-sizing: border-box;
    display: flex ;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
 
  .caja {
    color: #2e2e31;

    padding: 40px 20px;
    background-color : white;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
    
  }
  
  img{
width: 120px;
height: 120px;

  }